*{

    background: #EFBCB2;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 150%;
}
.alura-logo{
    padding-top: 40px;
    margin-left: 30px;
    width: 9%;
}
main{
    display: flex;
    margin-bottom: 40px;
    margin-left: 240px;
}

.textarea{
   border: none;
   color: #0A3871;
   margin-top: 50px;
   margin-right: 100px;
   text-transform: lowercase;/*Convierte el texto del textarea en minuscula*/
   font-style: normal;
   font-size: 32px;
   resize: none;
   cursor: pointer;
   height: 250px;
}
::placeholder{ color: #0A3871;}
    .textarea:focus{
        outline: none;
    }
.Aviso{
    margin-top: 35px;
    margin-bottom: 5px;
    font-style: normal;
    font-size: small;
}
.botones{
    display: flex;
}
.btn-encriptar{
    background-color: #0A3871;
    color: aliceblue;
    width: 50%;
    height: 60px;
    border-radius: 24%;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}
.btn-desencriptar{
    background-color: aliceblue;
    color: #0A3871;
    border: 1px solid #0A3871;
    width: 50%;
    height: 60px;
    border-radius: 24%;
    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
}
.Mensaje{
   background: #985277;
   border: none;
   background-image: url("Muñeco.png");
   background-size: 60%;
   background-repeat: no-repeat;
   background-position: 50% 20%;
   border-radius: 24px;
   color: aliceblue;
   font-style: normal;
   font-size: 32px;
   resize: none;
   height: 423px;
   width: 270px;
   margin-left: 100px;
}
.Copiar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    position: absolute;
    width: 149px;
    height: 45px;
    left: 1015px;
    top: 425px;
    background-color: #EFBCB2;
    color: black;
    border-radius: 24%;
    font-size: 20px;
    border: none;
    cursor: pointer;
}